
:root {
    --mainColor: #3725E4;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
    -ms-overflow-style: none;  
    /* IE 10+ */
    scrollbar-width: none; 
    /* Firefox */
}

*, *::before, *::after {
    box-sizing: inherit
}

::-webkit-scrollbar { 
    /* chrome based */
    width: 0;  
    height: 0;
}

body, aside, #side_cont, #side_menu, #side_menu > div, main, 
#logo_pages, main > h1, .sec1, .sec1 > div, .sec1 h2, 
.pic > p, #part, #part div, .sec3 > div, footer,
footer > div { border: 1px solid var(--mainColor) }

body {
    font-family: Gotham Pro;
    width: 1600px;
    /* height: 2895px; */
    margin: 0 auto; 
    /* display: flex; */
}

a, a:link, #a:visited, 
a:active { color: #000000; }

aside {
    width: 375px;
    position: fixed;
    top: 48px;
    overflow: auto;
    /* height: 2895px; */
}

main {
    width: 1179px;
    overflow: auto;
    position: relative;
    left: 421px;
    /* height: 2895px; */
}

#side_cont {
    width: 214px;
    position: relative;
    left: 161px;
    
}

#logo_pages {
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    text-transform: uppercase;

}

#logo_pages > a #mc {
    color: var(--mainColor);
    
  
}
a {
text-decoration: none;
}

#logo_pages {
    width: 184px;
    height: 57px;
}
#logo_pages * {
    position: relative;
    left: -2px;
    top: -5px;
}

#side_menu {
    width: 214px;
    /* height: 656px; */
    margin-top: 52px;
   
}

#side_menu > div {
    width: 100%;
    /* height: 105px; */
    display: flex;
    /* flex-wrap: wrap;*/
   justify-content: flex-start;
   align-items: center; 
}

/* @media screen and (max-width: 1366px) {
    #side_menu > div { height: 105px; }
} */

#side_menu img {
    width: 44px;
    height: 44px;
    margin-right: 10px;
}

#side_menu a {
font-style: normal;
font-weight: bold;
font-size: 16px;
text-decoration: none;
color: var(--mainColor)
}


#social {
    width: 195px;
    margin-top: 38px;
    display: flex;
    justify-content: space-between;
}

main > h1 {
font-style: normal;
font-weight: bold;
font-size: 42px;
margin-top: 71px;
}

main > h1, main > img {
    position: relative;  
    left: 65px; }

#vline1 {
    margin: 14px 0 19px 18px;
}

.sec1 { width: 100%;
    margin-left: 35px; }
.sec1 > div {
    width: 656px;
    margin-left: 30px;
}

.sec1 h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    padding-bottom: 27px;
}

.sec1 p, .sec1 ul {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
}

.sec1 .b {
    font-weight: bold;  
}

.sec1 ul {
    list-style: none;
    padding: 12px 0 12px 0;
    padding-bottom: 0;
}

.sec1 li {
    padding-bottom: 20px;
}

.sec1 .pic {
    margin: 47px 0 47px 0;
    width: 100%;
    display: flex;
    align-items: center;
}

 .sec1 a {
    color: var(--mainColor);
}

.pic > p {
    font-family: Georgia;
    font-style: italic;
    font-weight: normal;
    font-size: 16px;
    width: 273px;
    margin-left: 41px;
}

.sec2 {
    padding: 49px 0 46px 0;
    margin-left: 35px;
    /* border: 1px solid #F3F3F3;  */
}

#part {
    width: 985px;
    height: 160px;
    margin: 50px 0 0 0;
    display: flex;

}

#part div {  
    width: 100%;
    height: 100%;
    border-left: 1px solid #F3F3F3;
    display: flex;
    justify-content: center;
    align-items: center;
}

#part div:last-child {
    border-right: 1px solid #F3F3F3;
}

/* обратная связь */

.sec3  {
    width: 984px;
    height: 534px;
    margin-left: 35px;
    box-shadow: 0px 0px 35px rgba(0, 0, 0, 0.14);
    border-radius: 22px;
    padding-top: 44px;
    margin-bottom: 62px;
    display: flex
}

.sec3 h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    padding-bottom: 27px;
}

.sec3 > div:nth-child(1) {
    width: 620px;
    margin-left: 30px;

}
.sec3 > div:nth-child(2) {
    width: 194px;   
    margin-left: 61px;
    font-family: Georgia;
    font-style: Italic;
    font-size: 16px;
}

input, textarea {
    width: 620px;
    margin-bottom: 40px;
    background: #F3F3F3;
    border: 0;
    font-family: Gotham Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    padding-left: 16px;
}

input {
    height: 46px;
}
textarea {
    height: 140px;
    resize: none;
    padding-top: 18px;
}

input[type="submit"] {
    width: 197px;
    background: var(--mainColor);
    color: #ffffff;
    margin-top: 5px;
}

.sec3 img {
    margin: 40px 0;
}

.sec3 p {
    line-height: 20px;
    padding-bottom: 25px;
}
.sec3 p:nth-child(3) {
    color: var(--mainColor)
}

/* обратная связь */

footer {
    width: 1290px;
    height: 218px;
    margin-left: 160px;
    border-top: 1px solid #F3F3F3;
    display: flex;
} 

footer > div:nth-child(1) {
width: 146px;
height: 13px;
margin-top: 105px;
font-style: normal;
font-weight: normal;
font-size: 14px;
color: var(--mainColor)

}
footer > div:nth-child(1) a {
color: var(--mainColor)
}

footer > div:nth-child(2) {
    width: 545px;
    height: 82px;
    margin-left: 176px;
    margin-top: 39px;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
}

#logo {
    width: 450px;
    height: 153px;
    margin-top: 28px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}


#logo > img:nth-child(1) {
    position: relative;
    height: 150px

}

#logo > img:nth-child(2) {
    position: relative;
    top: -17px; 
    height: 150px
}

#logo > img:nth-child(3) {
    position: relative;
    top: 10px; 
    height: 180px
}