/* :root {
    --mainColor: #3725E4;
} */

/* .sec1, .sec1 h1, .sec1 p, .card, 
.card > div, .card div div, #nev, #addr1,
#m1, #m2, #m3, #m4, #m4 div, .tel, .tel div, .m1_b, .m3_b, cov { border: 1px solid var(--mainColor) } */

.sec1 h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    margin-top: 71px;
}

.sec1 h1,
.sec1 h2,
.sec1 p,
#tgs,
#addr {
    padding-left: 65px;
    width: 720px;
}

#vline1 {
    margin: 14px 0 19px 83px;

}


.sec1 p {
    font-family: Georgia;
    font-style: italic;
    font-weight: normal;
    font-size: 16px;
    line-height: 130%;
    padding-bottom: 16px;
}

.sec1 .b {
    font-weight: bold;
}

.sec1 h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    padding-top: 29px;
    padding-bottom: 28px;
}

#tgs {
    width: 100%;
    line-height: 3.8em;
}

#tgs span {
    padding: 12px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: var(--mainColor);
    border: 2px solid var(--mainColor);
    border-radius: 23px;
    margin-right: 16px;
    margin-bottom: 45px;
}

#tgs a {
    color: var(--hoverColor)
}

#addr {
    margin-top: 22px;
    margin-bottom: 48px;
}

#addr>img {
    margin-right: 14px;

}


.courses-row {
    width: 100%;
    padding-left: 35px;
    padding-right: 100px;
    display: flex;
}


.courses-row>div {
    max-width: 311px;
    box-shadow: 0px 0px 35px rgba(0, 0, 0, 0.14);
    border-radius: 22px;
    height: 480px;
}

.courses-row>div:not(:last-child) {
    margin-right: 16px;
}


#car1>div {
    padding-left: 30px;
}

.c2a {
    position: relative;
    cursor: pointer; 
    box-shadow: none !important; 
    border: 0;
}


.card_img {
    width: 100%;
    border-radius: 22px 22px 0px 0px;
}

.img-cont {
    display: block;
    position: relative;
}

/* we can use content: attr(data-badge) for dates */
.img-cont::after {
    content: 'По запросу'; 
    color: white;
    background-color: var(--mainColor);
    border-radius: 12px;
    padding: 6px 11px;
    position: absolute;
    top: 14px;
    left: 18px;
    font-size: 12px;
}


.card_title {
    font-style: normal;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 14px;
    font-size: 22px;
    line-height: 21px;
    position: absolute;
    top: 114px;
    color: #FFFFFF;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
}

.c2a .card_title {
    color: #3725E4; 
    text-shadow: none; 
    text-align: center;
    top: 119px;
}

.hc1 {
    position: relative;
    overflow: auto;
    padding: 24px;
    font-size: 14px;
    line-height: 1.3;
    height: 170px;
}

.teacher {
    box-shadow: none;
    width: 230px;
    top: 0;
    padding: 24px;
}

.teacher h3 {
    color: #000; 
    font-family: Georgia; 
    font-style: italic; 
    font-weight: normal; 
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 14px;
}

.teacher_img {
    width: 160px;
    height: 160px;
    border-radius: 50%;
}

.teacher .teacher_desc {
    font-size: 14px;
}

.card_arrow {
    text-align: right;
    margin-right: 14px;
    padding: 24px;

}


.courses-row h3 {
    height: 60px;
    margin:0;
    padding-left: 20px;
    padding-right: 10px;
}

.c2a h3 {
    left: 0;
}

#car2, 
#car4 {
    margin-bottom: 30px;
}

#car3,
#car6 {
    width: 70%;
}

.feedback {
    margin-top: 140px;
}



@media (max-width: 768px) { 
    .sec1 h1,
    .sec1 h2,
    .sec1 p,
    #tgs,
    #addr {
        padding-left: 35px;
    }
    .courses-row {
        padding-left: 25px;
        padding-right: 50px;
        margin-bottom: 53px;
    }
    .card_title,
    .c2a .card_title {
        top: 90px;
    }


}

@media (max-width: 500px) { 

    #mainCont {
        width: 360px;
    }

    .sec1 h1, .sec1 h2, .sec1 p, #tgs,
    #addr {
        padding-left: 10px;
    }

    .sec1 h1 {
        margin-top: 40px;
    }

    .sec1 p, .sec1 h2 {
        width: 350px; 
    }

    #vline1 {
        margin: 20px 0 19px 26px;

    } 

    .courses-row {
        flex-direction: column;
        padding-right: 0;
        padding-left: 20px;
        margin-bottom: 0;
    }

    #car1 > div:not(.teacher) {
        height: 400px;
    }

    .courses-row>div {
        width: 320px;
        margin-bottom: 20px;
        margin-right: 0;
    }

    .card_title,
    .c2a .card_title {
        top: 145px;
    }
}